*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
  }
  
  .main-box {
    width: 425px;
    height: 425px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .inner-box {
    width: 312px;
    height: 415px;
    background-color: rgb(85 139 240);
    transform: rotate(-6deg);
    border-radius: 25px;
  }
  
  .inner-box-rotated {
    transform: rotate(5deg);
    position: absolute;
    width: 312px;
    height: 415px;
    background-color: rgb(255 110 84);
    border-radius: 25px;
  }
  .inner-box-work{
    position: absolute;
    width: 312px;
    height: 415px;
    background-color:rgb(236 234 234);;
    border-radius: 15px;
    padding: 0.8rem;
  }
  .login{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
  }
  .text input {
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 0 2px 5px rgb(165, 164, 164);
    background-color: rgb(226 226 226);
  }
  .password input {
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 0px solid;
    background: #ededed;
    box-shadow: 0px 6px 10px rgb(213 213 213);
  }
  .checkbox {
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;
  }
  .checkbox label{
      position: absolute;
      left: 7%;
      font-size: 13px;
  }

.pwd-link a:link{
    color: black;
    font-size: 13px ;
}
  .login-button button {
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(39, 114, 255);
    color: white;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
  }
  .lines {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }
  .lines::after {
    content: " ";
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: #b8b4b4;
    left: 0%;
    top: 48%;
  }
  .lines::before {
    content: " ";
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: #b8b4b4;
    right: 0;
    top: 48%;
  }
  .fb-button button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(39, 114, 255);
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
    color: white;
  }
  .google-button button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(255 66 66);
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
  color: white;
  }
  .button{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4%;
      margin-bottom: 2rem;
  } 
  .register{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .register a:link{
    text-decoration: none;
  }